.result{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
   
    .title{
       font-size: 3rem;
       font-weight: 800;
      margin-top: 6rem;
      letter-spacing: .1rem;
      border-bottom: 5px solid rgb(148, 7, 7);
    }
    .titles{
        font-size: 3rem;
        font-weight: 700;
        padding: 1rem;
        letter-spacing: .1rem;
    }
}
@media (max-width:550px) {
    .result{
        .title{
           font-size: 1.6rem;
           font-weight: 700;
          margin-top: 6rem;
        }
        .titles{
            font-size: 1.7rem;
            font-weight: 700;
            padding: 1rem;
        }
    }
}